@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial/arial-regular.woff2') format('woff2'),
        url('../../assets/fonts/arial/arial-regular.woff') format('woff'),
        url('../../assets/fonts/arial/arial-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/georgia/georgia-regular.woff2') format('woff2'),
        url('../../assets/fonts/georgia/georgia-regular.woff') format('woff'),
        url('../../assets/fonts/georgia/georgia-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--gradient-background: #211f20;
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
}

/* Global */

html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
}

/* Header */

.header-background {
    background: var(--color-light-xl);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    width: 100%;
    max-width: 1280px;
}

.logo-title {
    margin-bottom: 10px;

    font-family: Georgia;
    font-style: normal;
    font-size: 32px;
    line-height: 110%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);

    transition: 0.5s;
}

.logo-subtitle {
    margin-right: 1px;

    font-family: Arial;
    font-style: normal;
    font-size: 13px;
    line-height: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: right;
    color: var(--color-dark-3xl);

    transition: 0.5s;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin: 0 2px 4px 0;

    list-style: none;
}

.menu-link {
    padding-bottom: 4px;

    font-family: Arial;
    font-style: normal;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
    color: var(--color-dark-l);

    transition: 0.5s;
}

.active-link {
    margin-bottom: 3px;

    color: var(--color-dark-3xl);

    border-bottom: 3px solid var(--color-primary);

    cursor: default;
}

.header svg {
    display: none;
}

/* Main */

/* Pets */

.pets-background {
    background: var(--color-light-l);
}

.pets {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 80px 30px 101px;
}

.pets-heading {
    width: 400px;

    font-family: Georgia;
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}

.pets-cards {
    display: flex;
    justify-content: center;
    gap: 30px 40px;
    flex-wrap: wrap;
}

.pets-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;

    background: var(--color-light-s);
    border-radius: 9px;

    transition: 0.5s;
}

.pets-card-title {
    font-family: Georgia;
    font-style: normal;
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}

.pets-card-button {
    padding: 13px 43px;

    font-family: Georgia;
    font-style: normal;
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);

    background-color: var(--color-light-s);
    border: 2px solid var(--color-primary);
    border-radius: 100px;

    transition: 0.5s;
}

.pets-navigation {
    display: flex;
    gap: 20px;
}

.button-arrow {
    width: 52px;
    height: 52px;
    padding-bottom: 2px;

    font-family: Georgia;
    font-style: normal;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-3xl);
    
    background-color: var(--color-light-l);
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    
    transition: 0.5s;
}

.button-active {
    background: var(--color-primary);

    cursor: default;
}

.button-inactive {
    color: var(--color-dark-s);

    border: 2px solid var(--color-dark-s);

    cursor: default;
}

/* Footer */

.footer-background {
    background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 5%, #1a1a1c 60%);
}

.footer {
    display: flex;
    gap: 150px;
    padding: 40px 40px 0;
}

.footer-image {
    display: flex;
    align-items: end;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 16px;
}

.footer-locations {
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin-top: 16px;
    margin-left: 9px;
    padding-right: 9px;
}

.contacts-email,
.contacts-phone,
.location-address {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contacts-phone {
    margin-top: -3px;
}

.contacts-title,
.location-title {
    width: 280px;

    font-family: Georgia;
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
}

.email,
.phone,
.address-1,
.address-2 {
    font-family: Georgia;
    font-style: normal;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: var(--color-primary);

    transition: 0.5s;
}

.address-1 {
    width: 260px;
}

.address-2 {
    margin-top: -4px;
}

.footer path {
    transition: 0.5s;
}

/* Media Queries */

@media (max-width: 1275px) {
    .footer {
        justify-content: space-between;
        gap: 20px;
    }
}

@media (max-width: 1259px) {
    .pets-cards {
        justify-content: space-evenly;
    }

    .pets-card:nth-last-of-type(1),
    .pets-card:nth-last-of-type(2) {
        display: none;
    }
}

@media (max-width: 1250px) {
    .footer {
        flex-wrap: wrap;
        padding: 30px 30px 0;
    }

    .footer-contacts,
    .footer-locations {
        max-width: 310px;
    }
}

@media (max-width: 1020px) {
    .about {
        padding-left: 40px;
        padding-right: 40px;
        gap: 30px;
    }

    .footer {
        margin-top: -5px;
        padding: 15px 30px 0;
        gap: 59px 29px;
        justify-content: center;
    }
}

@media (max-width: 768px) {

    /* Header */

    .header {
        padding: 30px 30px;
    }

    /* Main */

    /* Pets */

    .pets {
        padding: 80px 30px 81px;
        gap: 30px;
    }

    .pets-cards {
        justify-content: center;
    }

    .pets-navigation {
        margin-top: 12px;
    }

    /* Footer */

    .footer-contacts,
    .footer-locations {
        margin-left: 15px;
        margin-right: 15px;
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }

    .header svg {
        display: block;
    }
}

@media (max-width: 750px) {
    .footer-contacts,
    .footer-locations {
        min-width: 370px;
    }
}

@media (max-width: 656px) {
    .pets-cards {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .pets-card:nth-last-of-type(3),
    .pets-card:nth-last-of-type(4),
    .pets-card:nth-last-of-type(5) {
        display: none;
    }
}

@media (max-width: 450px) {
    .pets-heading {
        max-width: 300px;
        font-size: 25px;
    }

    .pets-navigation {
        gap: 10px;
    }
}

@media (max-width: 425px) {
    .footer-contacts,
    .footer-locations {
        min-width: auto;
    }

    .footer {
        padding: 30px 10px 0;
        gap: 40px;
    }

    .footer-image {
        max-width: 260px;
    }

    .footer img {
        width: 100%;
    }

    .footer-contacts,
    .footer-locations {
        padding: 0;
        margin: 0;
    }

    .footer-contacts {
        align-items: center;
    }

    .footer-locations {
        gap: 36px;
    }

    .contacts-title,
    .location-title {
        font-size: 25px;
        text-align: center;
    }

    .location-title {
        max-width: 270px;
        padding-left: 30px;
        margin-top: -4px;
        margin-bottom: 4px;
    }

    .location-address:first-of-type {
        margin-bottom: 3px;
    }

    .footer-image {
        margin-top: -3px;
    }
}

@media (max-width: 320px) {

    /* Header */

    .header {
        padding: 30px 20px;
    }

    /* Main */

    /* Pets */

    .pets {
        padding: 42px 10px 49px;
    }

    .pets-heading {
        margin-bottom: 11px;
    }
}

@media (hover: hover) {
    .header-logo:hover .logo-title {
        color: var(--color-primary);
    }

    .header-logo:hover .logo-subtitle {
        color: var(--color-dark-l);
    }
    
    .menu-link:hover {
        color: var(--color-dark-3xl);
    }

    .pets-card:hover {
        background: var(--color-light-xl);
        box-shadow: 0px 2px 35px 14px #0d0d0d0a;
    
        cursor: pointer;
    }
    
    .pets-card:hover > .pets-card-button {
        background: var(--color-primary-light);
        border: 2px solid var(--color-primary-light);
    }

    .button-normal:hover {
        background: var(--color-primary-light);
        border: 2px solid var(--color-primary-light);
    }

    .contacts-email:hover .email,
    .contacts-phone:hover .phone,
    .location-address:hover .address-1,
    .location-address:hover .address-2{
        color: var(--color-light-xl);
        
    }

    .contacts-email:hover path,
    .contacts-phone:hover path,
    .location-address:hover path,
    .location-address:hover path {
        fill: var(--color-light-xl);
    }
}