@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial/arial-regular.woff2') format('woff2'),
        url('../../assets/fonts/arial/arial-regular.woff') format('woff'),
        url('../../assets/fonts/arial/arial-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial/arial-italic.woff2') format('woff2'),
        url('../../assets/fonts/arial/arial-italic.woff') format('woff'),
        url('../../assets/fonts/arial/arial-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/georgia/georgia-regular.woff2') format('woff2'),
        url('../../assets/fonts/georgia/georgia-regular.woff') format('woff'),
        url('../../assets/fonts/georgia/georgia-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/georgia/georgia-bold.woff2') format('woff2'),
        url('../../assets/fonts/georgia/georgia-bold.woff') format('woff'),
        url('../../assets/fonts/georgia/georgia-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--gradient-background: #211f20;
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
}

/* Global */

html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

/* Header */

.header {
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 0;
    width: 100%;
    max-width: 1280px;
}

.logo-title {
    margin-bottom: 10px;

    font-family: Georgia;
    font-style: normal;
    font-size: 32px;
    line-height: 110%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: var(--color-primary);

    transition: 0.5s;
}

.logo-subtitle {
    margin-right: 1px;

    font-family: Arial;
    font-style: normal;
    font-size: 13px;
    line-height: normal;
    font-weight: 400;
    text-align: right;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin: 0 2px 4px 0;

    list-style: none;
}

.menu-link {
    padding-bottom: 4px;

    font-family: Arial;
    font-style: normal;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
    color: var(--color-dark-s);

    transition: 0.5s;
}

.active-link {
    margin-bottom: 3px;

    color: var(--color-light-s);

    border-bottom: 3px solid var(--color-primary);

    cursor: default;
}

.burger-icon {
    display: none;
    cursor: pointer;
    height: 30px;
    transition: 0.5s;
}

.burger-line {
    display: block;
    position: relative;
    background-color: var(--color-primary);
    width: 30px;
    height: 2px;
    top: 14px;
}

.burger-line::before,
.burger-line::after {
    content: " ";
    position: relative;
    display: block;
    background-color: var(--color-primary);
    width: 30px;
    height: 2px;
}

.burger-line::before {
    top: -10px;
}

.burger-line::after {
    top: 8px;
}

.burger-icon-active {
    transform: rotate(-90deg);
}

.menu-background {
    display: none;
}

/* Main */

/* Not Only */

.not-only-background {
    background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 5%, #1a1a1c 60%);
}

.not-only {
    display: flex;
    justify-content: space-between;
    gap: 42px;
    padding: 14.05% 40px 0;
}

.not-only-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
    max-width: 460px;
    margin-top: 13.55%;
    margin-bottom: 100px;
    flex-shrink: 2;
}

.not-only-heading {
    width: 310px;

    font-family: Georgia;
    font-style: normal;
    font-size: 44px;
    line-height: 130%;
    font-weight: 400;
    color: var(--color-light-xl);
}

.not-only-subheading {
    font-family: Arial;
    font-style: normal;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
    color: var(--color-dark-s);
}

.not-only-image {
    display: flex;
    align-items: end;
    max-width: 698px;
    height: auto;
}

.not-only img {
    max-width: 100%;
    height: auto;
}

.not-only-button {
    padding: 15px 45px;

    font-family: Georgia;
    font-style: normal;
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);

    background: var(--color-primary);
    border-radius: 100px;

    transition: 0.5s;
}

/* About */

.about-background {
    background: var(--color-light-xl);
}

.about {
    display: flex;
    gap: 14.2%;
    padding: 6.2% 16.8%;
    margin-bottom: 21px;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 14px 0;
}

.about-heading {
    width: 305px;

    font-family: Georgia;
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.about-subheading {
    font-family: Arial;
    font-style: normal;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
    color: var(--color-dark-xl);
}

.about-image {
    align-self: center;
    max-width: 300px;
    height: 408px;
}

/* Pets */

.pets-background {
    background: var(--color-light-l);
}

.pets {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 78px 40px 101px;
}

.pets-heading {
    width: 400px;

    font-family: Georgia;
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.pets-slider {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: normal;
    gap: 53px;
}

.slider-cards {
    max-width: 990px;
    display: flex;
    gap: 90px;
    overflow-x: hidden;
}

.button-arrow {
    min-width: 52px;
    height: 52px;
    padding-bottom: 3px;
    margin-top: 1px;

    background-color: var(--color-light-l);
    border: 2px solid var(--color-primary);
    border-radius: 100px;

    transition: 0.5s;
}

.pets-cards {
    width: 990px;
    display: flex;
    justify-content: space-between;
    gap: 90px;
    transition: 1s;
}

.pets-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;

    background: var(--color-light-s);
    border-radius: 9px;

    transition: 0.5s;
}

.pets-cards:first-child {
    margin-left: -1080px;
}

.pets-card-title {
    font-family: Georgia;
    font-style: normal;
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.pets-card-button {
    padding: 13px 43px;

    font-family: Georgia;
    font-style: normal;
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);

    background-color: var(--color-light-s);
    border: 2px solid var(--color-primary);
    border-radius: 100px;

    transition: 0.5s;
}

.pets-button {
    padding: 15px 45px;

    font-family: Georgia;
    font-style: normal;
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    
    background: var(--color-primary);
    border-radius: 100px;

    transition: 0.5s;
    cursor: pointer;
}

/* Help */

.help-background {
    background: var(--color-light-xl);
}

.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-left: 1px;
    padding: 80px 115px 100px;
}

.help-heading {
    width: 308px;

    font-family: Georgia;
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}

.help-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 55px 120px;
}

.help-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.help-item img {
    width: 60px;
    height: 60px;
}

.help-item-title {
    font-family: Georgia;
    font-style: normal;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

/* Donation */

.donation-background {
    background: var(--color-light-l);
}

.donation {
    padding: 80px 182px 101px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 31px;
}

.donation-image {
    max-width: 505px;
    margin-top: 6px;
}

.donation img {
    max-width: 100%;
}

.donation-content {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.donation-heading {
    width: 300px;

    font-family: Georgia;
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.donation-subheading {
    font-family: Georgia;
    font-style: normal;
    font-size: 15px;
    line-height: 110%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.credit-card {
    padding: 10px 15px;
    
    display: flex;
    gap: 15px;
    margin-right: 31px;

    background: var(--color-primary);
    border-radius: 9px;

    transition: 0.5s;
}

.card-number {
    font-family: Georgia;
    font-style: normal;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-wrap: nowrap;
    color: var(--color-dark-l);
}

.donation-info {
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--color-dark-m);
}

/* Footer */

.footer-background {
    background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 5%, #1a1a1c 60%);
}

.footer {
    display: flex;
    gap: 150px;
    padding: 40px 40px 0;
    margin-top: 1px;
}

.footer-image {
    display: flex;
    align-items: end;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 16px;
}

.footer-locations {
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin-top: 16px;
    margin-left: 9px;
    padding-right: 9px;
}

.contacts-email,
.contacts-phone,
.location-address {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contacts-phone {
    margin-top: -3px;
}

.contacts-title,
.location-title {
    width: 280px;
    font-family: Georgia;
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
}

.email,
.phone,
.address-1,
.address-2 {
    font-family: Georgia;
    font-style: normal;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: var(--color-primary);

    transition: 0.5s;
}

.address-1 {
    width: 260px;
}

.address-2 {
    margin-top: -4px;
}

.footer path {
    transition: 0.5s;
}

.overflow-hidden {
    overflow-y: hidden;
}

.popup {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(41, 41, 41, 0.60);
}

.popup-window {
    max-width: 900px;
    position: relative;
    display: flex;
    border-radius: 9px;
    background-color: var(--color-light-s);
    margin: 0 60px;
}

.popup-image {
    width: 500px;
}

.popup img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9px;
}

.popup-content {
    padding: 50px 20px 50px 29px;
}

.popup-title {
    color: #000000;
    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
}

.popup-subtitle {
    color: #000000;
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.popup-description {
    max-width: 350px;
    color: #000;
    font-family: Georgia;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 114%;
    letter-spacing: 0.06em;
    padding: 40px 0;
}

.popup ul {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 15px;
}

.popup li::marker {
    color: var(--color-primary)
}

.popup li {
    color: #000000;
    font-family: Georgia;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.bold {
    font-weight: 700;
}

.popup-close {
    position: absolute;
    top: -52px;
    right: -42px;
    width: 52px;
    height: 52px;
    padding-bottom: 2px;

    font-family: Georgia;
    font-style: normal;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-3xl);
    
    background-color: transparent;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    
    transition: 0.5s;
}

.popup-close:hover {
    cursor: pointer;
    background: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}

/* Media Queries */

@media (max-width: 1279px) {
    .slider-cards {
        max-width: 580px;
    }
    
    .pets-cards {
        gap: 40px;
    }
    
    .pets-cards:first-child {
        margin-left: -670px;
    }
}

@media (max-width: 1276px) {
    .footer {
        justify-content: space-between;
        gap: 20px;
    }
}

@media (max-width: 1250px) {
    .donation {
        flex-direction: column-reverse;
    }

    .footer {
        flex-wrap: wrap;
        padding: 30px 30px 0;
    }

    .footer-contacts,
    .footer-locations {
        max-width: 310px;
    }
}

@media (max-width: 1180px) {
    .pets {
        padding: 78px 30px 101px;
    }

    .pets-slider {
        max-width: 830px;
        align-self: center;
    }
}

@media (max-width: 1050px) {
    .help-list {
        gap: 55px 60px;
    }

    .help-item {
        width: 170px;
    }
}

@media (max-width: 1020px) {
    .about {
        padding-left: 40px;
        padding-right: 40px;
        gap: 30px;
    }

    .footer {
        margin-top: -5px;
        padding: 15px 30px 0;
        gap: 59px 29px;
        justify-content: center;
    }
}

@media (max-width: 990px) {
    .help {
        padding: 80px 65px 100px;
    }
}

@media (max-width: 890px) {
    .pets-slider {
        align-self: normal;
    }
}

@media (max-width: 845px) {
    .pets-slider {
        max-width: 711px;
        align-self: center;
        gap: 13px;
    }

    .popup-window {
        max-width: 630px;
    }

    .popup-image {
        width: 350px;
    }

    .popup-content {
        padding: 10px;
    }

    .popup-description {
        max-width: 261px;
        font-size: 13px;
        padding: 20px 0;
    }

    .popup ul {
        gap: 5px;
    }
}

@media (max-width: 768px) {

    /* Header */

    .header {
        padding: 30px 30px 0;
    }

    /* Main */

    /* Not Only */

    .not-only {
        flex-direction: column;
        padding: 150px 100px 0;
        gap: 100px;
    }

    .not-only-content {
        margin-top: 0;
        margin-bottom: 0;
        align-items: center;
        padding: 0 54px;
        max-width: 100%;
    }

    .not-only-heading {
        align-self: flex-start;
    }

    .not-only img {
        position: relative;
        left: 70px;
    }

    /* About */

    .about {
        flex-direction: column-reverse;
        gap: 80px;
        padding: 66px 170px 85px;
        align-items: center;
        margin-bottom: 1px;
    }

    .about img {
        margin-top: -15px;
    }
    
    /* Donation */

    .donation {
        padding: 80px 132px 101px;
        gap: 56px;
    }

    /* Footer */

    .footer-contacts,
    .footer-locations {
        margin-left: 15px;
        margin-right: 15px;
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    html {
        overflow-x: hidden;
    }

    .menu-background {
        display: block;
        transition: 0.5s;
    }

    .menu-background-active {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
    }

    .menu {
        display: flex;
        position: fixed;
        z-index: 2;
        width: 320px;
        height: 100vh;
        top: 0;
        right: -320px;
        background-color: var(--color-dark-3xl);
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

    .menu-active {
        transform: translateX(-320px);
    }

    .menu-nav {
        flex-direction: column;
        margin: 0;
        gap: 40px;
        text-align: center;
    }

    .menu-link {
        font-size: 32px;
    }

    .active-link {
        padding-bottom: 7px;
    }

    .burger-icon {
        display: block;
        z-index: 2;
    }

    .slider-cards {
        max-width: 270px;
    }

    .pets-cards {
        gap: 40px;
    }

    .pets-cards:first-child {
        margin-left: -360px;
    }
}

@media (max-width: 760px) {
    .help-list {
        width: 400px;
        justify-content: space-between;
    }
}

@media (max-width: 750px) {
    .about {
        padding: 66px 120px 100px;
    }

    .about img {
        height: auto;
    }

    .pets-slider {
        max-width: 400px;
    }

    .footer-contacts,
    .footer-locations {
        min-width: 370px;
    }
}

@media (max-width: 650px) {
    .not-only {
        padding: 150px 20px 0;
    }

    .not-only img {
        position: relative;
        left: 0;
    }

    .not-only-content {
        padding: 0 20px;
    }

    .about {
        padding: 40px 30px 40px;
    }

    .about img {
        max-width: 100%;
    }

    .credit-card {
        min-width: 349px;
    }
}

@media (max-width: 630px) {
    .popup-image {
        display: none;
    }

    .popup-close {
        right: -30px;
    }
}

@media (max-width: 576px) {
    .donation {
        padding: 42px 30px;
    }
}

@media (max-width: 530px) {
    .help-list {
        width: 290px;
        gap: 30px;
    }
    
    .help-item {
        width: 130px;
        gap: 20px;
    }
    
    .help-item-title {
        font-size: 15px;
    }

    .help-item img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 450px) {
    .not-only {
        padding: 150px 0 0;
        margin: 0 10px;
    }

    .not-only-heading {
        width: 300px;
        font-size: 25px;
        letter-spacing: 0.06em;
        text-align: center;
        padding: 0 20px;
        align-self: center;
    }

    .not-only-subheading {
        text-align: center;
    }

    .not-only-content {
        padding: 0;
    }

    .not-only-image {
        padding-left: 35px;
    }

    .about-heading {
        width: 300px;
        align-self: center;
        font-size: 25px;
        text-align: center;
        padding: 0 10px;
    }

    .about-subheading {
        padding: 0 15px;
        text-align: justify;
        margin-bottom: -4px;
    }

    .pets-heading {
        max-width: 300px;
        font-size: 25px;
    }

    .pets-slider {
        max-width: 270px;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 100px;
    }

    .button-arrow {
        order: 1;
    }

    .pets-card {
        order: 0;
    }

    .help-heading {
        font-size: 25px;
        width: 220px;
    }

    .donation {
        padding: 42px 15px;
        gap: 42px;
    }

    .donation-content {
        align-items: center;
    }

    .donation-heading {
        font-size: 25px;
        text-align: center;
    }

    .donation-subheading {
        letter-spacing: 0;
        line-height: 160%;
    }

    .credit-card {
        min-width: 281px;
        margin: 0;
        display: flex;
        align-items: center;
    }

    .card-number {
        font-size: 15px;
    }

    .donation-info {
        max-width: 280px;
        text-align: justify;
    }

    .donation-image {
        margin-top: 3px;
        max-width: 260px;
    }

    .footer {
        padding: 30px 10px 0;
        gap: 40px;
    }

    .footer-image {
        max-width: 260px;
    }

    .footer img {
        width: 100%;
    }

    .footer-contacts,
    .footer-locations {
        padding: 0;
        margin: 0;
    }

    .footer-contacts {
        align-items: center;
    }

    .footer-locations {
        gap: 36px;
    }

    .contacts-title,
    .location-title {
        font-size: 25px;
        text-align: center;
    }

    .location-title {
        max-width: 270px;
        padding-left: 30px;
        margin-top: -4px;
        margin-bottom: 4px;
    }

    .location-address:first-of-type {
        margin-bottom: 3px;
    }

    .footer-image {
        margin-top: -3px;
    }

    .footer-contacts,
    .footer-locations {
        min-width: auto;
    }
}

@media (max-width: 425px) {
    .help {
        padding: 42px 10px;
        gap: 42px;
    }
}

@media (max-width: 320px) {

    /* Header */

    .header {
        padding: 30px 20px 0;
    }

    /* Main */

    /* About */

    .about {
        padding: 42px 10px;
        margin-bottom: -51px;
        gap: 42px;
    }

    .about-content {
        align-content: space-between;
        padding: 0;
    }

    .about-image {
        padding: 18px 20px;
    }

    /* Pets */

    .pets {
        padding: 42px 10px;
        gap: 42px;
    }

    .pets-slider {
        gap: 18px 80px;
    }

    /* Help */

    .help-item:last-child {
        margin-top: -2px;
    }

    .popup {
        padding-bottom: 8px;
    }

    .popup-window{
        margin: 0 30px;
        max-width: 240px;
    }

    .popup-title,
    .popup-subtitle {
        text-align: center;
    }

    .popup-description {
        text-align: justify;
        padding: 16px 0 23px 0;
    }
}

@media (hover: hover) {
    .header-logo:hover .logo-title {
        color: var(--color-light-xl);
    }

    .menu-link:hover {
        color: var(--color-light-s);
    }

    .not-only-button:hover {
        background: var(--color-primary-light);
    }

    .button-arrow:hover {
        background: var(--color-primary-light);
        border: 2px solid var(--color-primary-light);
    }

    .pets-card:hover {
        background: var(--color-light-xl);
        box-shadow: 0px 2px 35px 14px #0d0d0d0a;
    
        cursor: pointer;
    }
    
    .pets-card:hover > .pets-card-button {
        background: var(--color-primary-light);
        border: 2px solid var(--color-primary-light);
    }

    .pets-button:hover {
        background: var(--color-primary-light);
    }

    .credit-card:hover {
        background: var(--color-primary-light);
    }

    .contacts-email:hover .email,
    .contacts-phone:hover .phone,
    .location-address:hover .address-1,
    .location-address:hover .address-2{
        color: var(--color-light-xl);
    }

    .contacts-email:hover path,
    .contacts-phone:hover path,
    .location-address:hover path,
    .location-address:hover path {
        fill: var(--color-light-xl);
    }
}